.card-desc-custom {
  color: #777777;
}

.card-desc-custom .materials {
  padding-bottom: 4px;
  font-style: italic;
}

/* ol */
.card-desc-custom .effect-list {
  padding-left: 14px;
}

.card-desc-custom .effect-list > li {
  padding-bottom: 5px;
}

/* ul */
.card-desc-custom .effect-item {
  padding-left: 14px;
  list-style: disc;
}

.card-desc-custom .effect-item > li {
  padding-bottom: 2px;
}

.card-desc-custom .condition,
.card-desc-custom .activation,
.card-desc-custom .effect-chainable {
  display: block;

  /* Box highlight */
  /* border-width: 1px;
  border-style: groove;
  border-left-width: 3px;
  border-left-style: solid;
  padding: 2px 3px 2px 5px; */

  border-left-width: 2px;
  border-left-style: solid;
  padding-left: 5px;

  margin-bottom: 4px;
}

.card-desc-custom .condition {
  border-color: #3abf38; /* green */
}

.card-desc-custom .activation {
  border-color: rgb(219 45 185); /* pink */
}

.card-desc-custom .effect-chainable {
  border-color: #aea433; /* yellow */
}

.card-desc-custom .quick-effect {
  color: rgb(137 144 238);
}

.card-desc-custom .bullet {
  color: rgb(74 120 202);
}

.card-desc-custom .header-pendulum-effect,
.card-desc-custom .header-monster-effect,
.card-desc-custom .header-monster-flavor {
  color: rgb(255, 255, 255);
}
